<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_dev.dao.TutorMapper">
	<resultMap type="Tutor" id="TutorResult">
		<id property="tutorId" column="tutor_id" />
		<result property="name" column="tutor_name" />
		<result property="email" column="tutor_email" />
		<collection property="courses"
			resultMap="kr.or.dgit.mybatis_dev.dao.CourseMapper.CourseResult" />
	</resultMap>

	<select id="findTutorById" parameterType="int" resultMap="TutorResult">
		select t.TUTOR_ID, t.NAME as tutor_name,email,c.COURSE_ID,
		c.name,description,start_date,end_date
		from tutors t left outer join addresses a on t.ADDR_ID=a.ADDR_ID
		left outer join courses c on T.TUTOR_ID=c.TUTOR_ID
		where t.TUTOR_ID=#{tutorId};
	</select>
	
	<insert id="insertSetTutor" parameterType="Tutor">
      insert into tutors (tutor_id, name, email, phone,gender)
      values(#{tutorId}, #{name},#{email},#{phone},#{gender})
   </insert>
</mapper>